.THIS .formmargin {
    margin-top : 10px;
}
.THIS .slds-form-element__label{
    font-weight:800;
}

.THIS .modal-header{
    background-color:#245F90;
}

.THIS .modal-header{
    background-color:#245F90;
}